<!doctype html>
<html ng-app="store">
<head>
<meta charset="utf-8">
<title>Angular</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body data-ng-controller="StoreController as store">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="products in store.products">
          <h3> {{products.name}} <em class="pull-right"> {{products.price | currency}}</em> </h3>
          <p> <img ng-src="{{products.images[0].full}}" /></p>
         
          <button class="btn" data-ng-show="products.canPurchase">Add to cart</button>
        </li>
      </ul>
      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)" class="active">Descriptions</a></li>
          <li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
          <li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
           <p>{{products.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specifications</h4>
          <blockquote>None yet</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <h4>Reviews</h4>
          <blockquote ng-repeat="reviews in products.reviews"> <b>Stars: {{reviews.stars}}</b> {{reviews.body}} <cite>by: {{reviews.author}}</cite> </blockquote>
        </div>
      </section>
    </div>
  </div>
</div>
</body>
<script src="js/angular.min.js"></script>
<script src="js/app-new.js"></script>
</html>
